body {
  background-color: #0d1117;
  color: white;
}
.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

.dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
}
.green{background-color: #2ea043;}
header {
  padding: 15px 0px;
  position: sticky;
  top: 0;
  z-index: 50;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;

  /* Aplica a animação chamada "scroll-header" */
  animation: scroll-header linear both;

  /* Vincula o tempo da animação à rolagem da página */
  animation-timeline: scroll();

  /* A animação acontece logo nos primeiros pixels de rolagem */
  animation-range: 0px 50px;
}
@keyframes scroll-header {
  from {
    background-color: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom-color: transparent;
  }
  to {
    background-color: rgba(11, 15, 23, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
}
nav {
  display: flex;
  gap: 340px;
  align-items: center;
}
nav button {
  background-color: rgb(35, 134, 54);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.img_logo {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}
.logo {
  display: flex;
  gap: 10px;
  
}

section {
  margin-top: 200px;
}
.menu {
  display: flex;
  gap: 10px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: white;
}

.terminal {
  background-color: #161b22;
  padding: 100px 200px;
  border-radius: 10px;
}

.hero {
  margin-top: 20px;
  display: flex;

  gap: 15px;
}

.quadro {
  padding: 100px 200px;
  background-color: #161b22;
  border-radius: 10px;
  border: 1px solid #30363d;
}
.quadro_interno {
  background-color: #090d11;
  padding: 100px 200px;
}
.quadros-cod-organizados {
  display: flex;
  gap: 10px;
}
footer {
  margin-top: 200px;
  display: flex;
  gap: 50px;
  align-items: center;
}
